name: 京东每日签到

on:
    workflow_dispatch:
    schedule:
        - cron: "12 4 * * *"
        
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout codes
              uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: "12.x"
            - name: Install dependencies
              run: |
                   cd js
                   sudo npm install
            - name: Run app
              run: sudo node js/jd/jdSign.js
              env:
                  JD_COOKIE: ${{ secrets.JD_COOKIE }}
                  PUSH_KEY: ${{ secrets.PUSH_KEY }}