name: JS 测试程序

on:
    workflow_dispatch:
        
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout codes
              uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: "12.x"
            - name: Install dependencies
              run: |
                   cd js
                   npm install
            - name: Run app
              run: node js/test.js
              env:
                  PUSH_KEY: ${{ secrets.PUSH_KEY }}