# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: 简单定时任务

on:
  schedule:
      - cron: "21 2 * * *"
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
          access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        if [ -f python/requirements.txt ]; then sudo pip3 install -r python/requirements.txt; fi
    - name: Run app
      run: python/autoJobs/app.py