# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python 测试程序

on:
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        # python -m pip install --upgrade pip
        if [ -f python/requirements.txt ]; then pip install -r python/requirements.txt; fi
    - name: Run app
      run: python3 python/public/test.py
      env:
          BLINKER_ID: ${{ secrets.BLINKER_ID }}