# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Blinker服务器

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.5.0
      with:
          access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        # python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install setuptools
      run: |
         sudo pip3 install setuptools
    - name: Install Blinker
      run: |
         sudo apt install libgirepository1.0-dev
         git clone https://github.com/blinker-iot/blinker-py
         cd blinker-py
         sudo python3 setup.py install
         sudo pip3 install -r requirements.txt
    - name: Run app
      run: sudo python3 python/app.py
      env: #通过sudo执行的环境变量无效
          BLINKER_ID: ${{ secrets.BLINKER_ID }}